<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
  
        <property name = "hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property> 
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/kuriovizor-db</property>
        <property name="hibernate.connection.username">SA</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="cz.moz.kuriovizor.domain.StoreEntity"/>
<!--        <mapping class="cz.moz.kuriovizor.domain.Unit"/>
        <mapping class="cz.moz.kuriovizor.domain.UnitItem"/>
        <mapping class="cz.moz.kuriovizor.domain.Item"/>
        <mapping class="cz.moz.kuriovizor.domain.Unit2"/>
        <mapping class="cz.moz.kuriovizor.domain.StoreEntity4Unit"/>
        <mapping class="cz.moz.kuriovizor.domain.UnitEntities"/>-->
    </session-factory>
</hibernate-configuration>
